*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    background: #141922;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}


/********* SIDEBAR *********/
.sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 250px;

    background-color: black;
    
}

/* utility */
.line-audio .line-audio-white{
    background-color: white;
    height: 100%;
    width: 20%;
}


/* utility navigation bar */
.sidebar nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    /* border: 1px solid red; */
    width: 100%;
}

.sidebar nav > img{
    width: 160px;
    padding-left: 20px;
    padding-top: 15px;
}

.sidebar nav ul .small-logo img{
    display: none;
}

.sidebar nav ul{
    margin-top: 10px;
    padding-left: 20px;
}

.sidebar nav ul li a{
    display: flex;
    align-items: center;

    font-size: 15px;
    color: #666666;
    font-weight: 500;
}

.sidebar nav ul li a > img{
    margin-block: 5px;
    margin-right: 5px;
    width: 30px;
}

/* middle navigation bar */
.sidebar nav:last-child {
    color: white;
    margin-top: 20px;
}

.sidebar nav:last-child ul .btn-container{
    display: flex;
}

.sidebar nav:last-child ul li:first-child{
    margin-bottom: 10px;
    font-weight: bold;
}

.sidebar nav:last-child ul li .add-btn{
    background-color: #A3A3A3;
    display: inline-block;
    text-align: center;
    width: 50px;
    font-size: 40px;
    color: black;
    margin-right: 8px;
}

.sidebar nav:last-child ul .btn-container a{
    font-weight: bold;
}

.sidebar nav:last-child ul > div li{
    margin-block: 20px;
}



/********* MAIN CONTAINER  **********/
.main-container{
    margin-left: 250px;
    margin-bottom: 100px;
    border: 1px solid lime;
    overflow: scroll;
    overflow-x: hidden ;
}

.square{
    background-color: red;
    margin: 40px;
}


/************ TOPBAR ************/
.top-bar{
    display: flex;
    align-items: center;
    justify-content: flex-end;

    background-color: #080B12;
    height: 100px;
    border: 1px solid white;
}

.top-bar a{
    color: white;
    margin-right: 20px;
    border: 1px solid white;
    padding: 12px 40px;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}



/******** BOTTOMBAR *******/
.main-container .bottom-bar{
    background: #282828;
    /* background: linear-gradient(to right, #ae2896, #509bf5); */
    border: 1px solid red;
    
    position:fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
    
    height: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-container .bottom-bar .left-bar{
    display: flex;
    align-items: center;
    padding-left: 10px;
    border: 1px solid lime;
}

.main-container .bottom-bar .left-bar img{
    width: 70px ;
    margin-right: 8px;
    
}

.main-container .bottom-bar .left-bar > div{
    margin-right: 20px;
    color: white;
}

.main-container .bottom-bar .left-bar > div p{
    font-size: 14px;
    color: #797979;
}

.main-container .bottom-bar .left-bar i{
    color: #797979;
    margin-inline: 10px;
    font-size: 18px;
}

/* Middle-bar */
.main-container .bottom-bar .middle-bar{
    display: flex;
    flex-direction: column;

    color: white;
    border: 1px solid blue;
}

.main-container .bottom-bar .middle-bar .top-middle-bar ul{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.main-container .bottom-bar .middle-bar .top-middle-bar ul li{
    padding-inline: 10px;
}

.main-container .bottom-bar .middle-bar .top-middle-bar ul:not(li:nth-child(3)){
    font-size: 20px;
}

.main-container .bottom-bar .middle-bar .top-middle-bar ul li:nth-child(3){
    font-size: 28px;
    padding-inline: 25px;
}

.main-container .bottom-bar .middle-bar .bottom-middle-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.main-container .bottom-bar .middle-bar .line-audio{
    width: 600px;
    height: 5px;
    background-color: grey;
    margin-inline: 5px;
}





/* Right bar */
.main-container .bottom-bar .right-bar{
    display: flex;
    align-items: center;

    padding-right: 10px;
    color: white;
    border: 1px solid lime;
}

.main-container .bottom-bar .right-bar i{
    margin-inline: 8px;
}

.main-container .bottom-bar .right-bar .line-audio{
    width: 140px;
    height: 5px;
    background-color: grey;
}




/***************************************************************************** 
MEDIA 
******************************************************************************/
@media screen and (min-width: 878px) and (max-width: 1233px){
    .main-container .bottom-bar .middle-bar .line-audio{
        width: 300px;
        color: red;
    }
}

@media screen and (min-width: 639px) and (max-width: 878px){
    .main-container .bottom-bar .middle-bar .line-audio{
        width: 150px;
        color: red;
    }
}


@media screen and (min-width: 320px) and (max-width:639px){
    .sidebar {
        width: 70px;
    }

    .sidebar nav:last-child{
        display: none;
    }

    .sidebar nav:first-child > img:first-child{
        display: none;
    }

    .sidebar nav ul{
        margin-top: 10px;
        
        display: flex;
        flex-direction: column;
    }

    .sidebar nav ul .small-logo{
        margin-bottom: 15px;
    }

    .sidebar nav ul .small-logo img{
        display: block;
        width:30px;
    }

    .sidebar nav ul li{
        margin-block: 5px;
    }

    .sidebar nav ul li a span{
        display: none;
    }


    /* MAIN CONTAINER */
    .main-container{
        margin-left: 70px;
    }


    /* Bottom Bar */
    /* bottom left bar */
    .main-container .bottom-bar .left-bar img{
        width: 45px ;
        margin-right: 5px;
    }

    .main-container .bottom-bar .left-bar > div h4{
        font-size: 15px;
    }

    .main-container .bottom-bar .left-bar > div i{
        margin-inline: 0;
    }

    /* Bottom middle bar */
    .main-container .bottom-bar .middle-bar .top-middle-bar ul:not(li:nth-child(3))
    {
        font-size: 14px;
    }
    
    .main-container .bottom-bar .middle-bar .top-middle-bar ul li:nth-child(3){
        font-size: 25px;
        padding-inline: 25px;
    }

    .main-container .bottom-bar .middle-bar .line-audio{
        width: 80px;
    }
}



