*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    background: #141922;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}


/********* SIDEBAR *********/
.sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    background-color: black;
}

/* utility navigation bar */
.sidebar nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    /* border: 1px solid red; */
    width: 100%;
}

.sidebar nav > img{
    width: 160px;
    padding-left: 20px;
    padding-top: 15px;
}

.sidebar nav ul .small-logo img{
    display: none;
}

.sidebar nav ul{
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 70px ;
}

.sidebar nav ul li a{
    display: flex;
    align-items: center;

    font-size: 15px;
    color: #666666;
    font-weight: 500;
}

.sidebar nav ul li a > img{
    margin-block: 5px;
    margin-right: 5px;
    width: 33px;
}

/* middle navigation bar */
.sidebar nav:last-child {
    color: white;
    margin-top: 20px;
}

.sidebar nav:last-child ul .btn-container{
    display: flex;
}

.sidebar nav:last-child ul li:first-child{
    margin-bottom: 10px;
    font-weight: bold;
}

.sidebar nav:last-child ul li .add-btn{
    background-color: #A3A3A3;
    display: inline-block;
    text-align: center;
    width: 50px;
    font-size: 40px;
    color: black;
    margin-right: 8px;
}

.sidebar nav:last-child ul .btn-container a{
    font-weight: bold;
}

/* .sidebar nav:last-child ul > div{
    border: 1px solid lime;
} */

.sidebar nav:last-child ul > div li{
    margin-block: 20px;
}


/******** BOTTOMBAR *******/






/***************************************************************************** 
MEDIA 
******************************************************************************/

@media screen and (max-width: 552px){
    .sidebar nav:last-child{
        display: none;
    }

    .sidebar nav:first-child > img:first-child{
        display: none;
    }

    .sidebar nav ul{
        margin-top: 10px;
        padding-inline: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .sidebar nav ul .small-logo{
        margin-bottom: 15px;
    }

    .sidebar nav ul .small-logo img{
        display: block;
        width:38px;
    }

    .sidebar nav ul li{
        margin-block: 5px;
    }

    .sidebar nav ul li a span{
        display: none;
    }
}